policy_module(spectra, 1.100.1)

########################################
#
# Declarations
#

type spectra_t;
type spectra_exec_t;
init_daemon_domain(spectra_t, spectra_exec_t)

permissive spectra_t;

type spectra_initrc_exec_t;
init_script_file(spectra_initrc_exec_t)

type spectra_conf_t;
files_type(spectra_conf_t)

type spectra_var_lib_t;
files_type(spectra_var_lib_t)

type spectra_var_run_t;
files_type(spectra_var_run_t)

type spectra_port_t;
corenet_port(spectra_port_t)

########################################
#
# spectra local policy
#
allow spectra_t self:process { fork };

allow spectra_t self:fifo_file rw_fifo_file_perms;
allow spectra_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(spectra_t, spectra_conf_t, spectra_conf_t)
manage_files_pattern(spectra_t, spectra_conf_t, spectra_conf_t)

manage_dirs_pattern(spectra_t, spectra_var_lib_t, spectra_var_lib_t)
manage_files_pattern(spectra_t, spectra_var_lib_t, spectra_var_lib_t)
files_var_lib_filetrans(spectra_t, spectra_var_lib_t, { dir file })

manage_dirs_pattern(spectra_t, spectra_var_run_t, spectra_var_run_t)
manage_files_pattern(spectra_t, spectra_var_run_t, spectra_var_run_t)

sysnet_dns_name_resolve(spectra_t)
corenet_all_recvfrom_unlabeled(spectra_t)

allow spectra_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(spectra_t)
corenet_tcp_sendrecv_generic_node(spectra_t)
corenet_tcp_sendrecv_all_ports(spectra_t)
corenet_tcp_bind_generic_node(spectra_t)

gen_require(`
    type spectra_port_t;
')
allow spectra_t spectra_port_t:tcp_socket name_bind;

gen_require(`
    type spectra_port_t;
')
allow spectra_t spectra_port_t:tcp_socket name_connect;

domain_use_interactive_fds(spectra_t)

files_read_etc_files(spectra_t)

miscfiles_read_localization(spectra_t)

sysnet_dns_name_resolve(spectra_t)

allow spectra_t spectra_exec_t:file execute_no_trans;
allow spectra_t self:process setsched;
corecmd_exec_ls(spectra_t)
corenet_tcp_connect_http_port(spectra_t)
dev_read_urand(spectra_t)
fs_getattr_xattr_fs(spectra_t)
kernel_read_system_state(spectra_t)
