# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Spectra Core
Comment=Spectra Core QT test network
GenericName=Spectra Digital Currency QT client testnet network
Exec=spectra-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/spectra_testnet.png
MimeType=x-scheme-handler/piv;
Categories=X-Office;X-Finance;
Keywords=internet;spectra;zpiv;tpiv;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_US]=spectra-qt_testnet.desktop
